.green {
    background-color: green;    
 }
 
 .red {
 background-color: red;
 
}

 .yellow {
    background-color: yellow;    
 }
 
 .blue {
    background: blue;    
 }

 .lightGreen{
     background: limegreen;
 }
 .brightRed{
    background: lightCoral;
 }
 .lightYellow{
     background: lightgoldenrodyellow;
 }
 .lightBlue{
     background: lightblue;
 }